$color-primary: #004994;
$color-secondary: #0095db;
$heading-bghw:#555;
$text-bghw:#000;

header.global {background-color:#fff}

.content-wrapper > .home > header {
    background: #fff;
    }
.courses .courses-listing-item .course {
	border-bottom:4px solid $color-primary !important;
}
header.course-profile {padding-top:10px !important;}
body footer.global {
    background-color: $color-primary;
    color: $heading-bghw;
    }